@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/avenir-next-pro-lt/avenirnextltpro-regular.otf") format("opentype");
  font-weight: 100; }

@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/avenir-next-pro-lt/avenirnextltpro-medium.otf") format("opentype");
  font-weight: 200; }

@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/avenir-next-pro-lt/avenirnextltpro-demi.otf") format("opentype");
  font-weight: 300; }

@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/avenir-next-pro-lt/avenirnextltpro-bold.otf") format("opentype");
  font-weight: 500; }

@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/avenir-next-pro-lt/avenirnextltpro-regular.otf") format("opentype");
  font-weight: 100; }

@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/avenir-next-pro-lt/avenirnextltpro-medium.otf") format("opentype");
  font-weight: 200; }

@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/avenir-next-pro-lt/avenirnextltpro-demi.otf") format("opentype");
  font-weight: 300; }

@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/avenir-next-pro-lt/avenirnextltpro-bold.otf") format("opentype");
  font-weight: 500; }

/*
  Styling for the main video, player controls
*/
.player {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  height: 11.4375rem;
  background-color: black; }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .player {
      height: 25rem;
      padding: 0 2rem; } }
  @media screen and (min-width: 1200px) {
    .player {
      height: 33.75rem;
      padding: 0 5rem; } }
  .player__time {
    font-weight: 100;
    color: #323232;
    font-size: 1rem;
    line-height: 1.125rem;
    margin: 0;
    color: white;
    margin: 0 0 0 1rem; }
    @media screen and (max-width: 767px) {
      .player__time {
        display: none; } }
  .player__video {
    height: 100%;
    display: block; }
  .player__controls {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 1rem .5rem 1rem;
    position: absolute;
    width: 100%; }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      .player__controls {
        padding: 0 0 1rem 0;
        width: calc(100% - 6rem); } }
  .player__control {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #323232;
    height: 2rem;
    border-radius: 4px;
    opacity: 75%; }
    .player__control--play {
      width: 3.125rem; }
    .player__control--progress {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      box-sizing: content-box;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 50%;
      flex-grow: 1;
      margin: 0 .5rem;
      padding: 0 16px;
      box-sizing: border-box; }
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        .player__control--progress {
          width: 32.4375rem; } }
      .player__control--progress :first-child {
        flex-grow: 1;
        height: 5px; }
      .player__control--progress :first-child[value] {
        appearance: none; }
      .player__control--progress :first-child[value]::-webkit-progress-bar {
        border-radius: 2.5px;
        background-color: black; }
      .player__control--progress :first-child[value]::-webkit-progress-value {
        border-radius: 2.5px;
        background-color: #0095FF; }
    .player__control--fsvol {
      display: flex;
      justify-content: space-around;
      align-items: stretch;
      box-sizing: border-box;
      flex-direction: row;
      flex-wrap: nowrap;
      padding: 0 .5rem;
      width: 5rem; }
