@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/avenir-next-pro-lt/avenirnextltpro-regular.otf") format("opentype");
  font-weight: 100; }

@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/avenir-next-pro-lt/avenirnextltpro-medium.otf") format("opentype");
  font-weight: 200; }

@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/avenir-next-pro-lt/avenirnextltpro-demi.otf") format("opentype");
  font-weight: 300; }

@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/avenir-next-pro-lt/avenirnextltpro-bold.otf") format("opentype");
  font-weight: 500; }

@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/avenir-next-pro-lt/avenirnextltpro-regular.otf") format("opentype");
  font-weight: 100; }

@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/avenir-next-pro-lt/avenirnextltpro-medium.otf") format("opentype");
  font-weight: 200; }

@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/avenir-next-pro-lt/avenirnextltpro-demi.otf") format("opentype");
  font-weight: 300; }

@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/avenir-next-pro-lt/avenirnextltpro-bold.otf") format("opentype");
  font-weight: 500; }

/*
  Styling for the video info component
*/
.video-info {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 2rem 0 2.5rem 0; }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .video-info {
    padding: 3rem 0 4rem 0; } }

@media screen and (min-width: 1200px) {
  .video-info {
    padding: 3rem 0 1.5rem 0; } }

.video-info__title {
  font-weight: 500;
  color: #323232;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
  width: 100%; }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .video-info__title {
    font-size: 1.5rem;
    line-height: 2.75rem;
    margin: 0; } }

@media screen and (min-width: 1200px) {
  .video-info__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 0; } }

.video-info__second-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  box-sizing: content-box;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%; }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .video-info__second-row {
    width: 50%; } }

@media screen and (min-width: 1200px) {
  .video-info__second-row {
    width: 50%; } }

.video-info__third-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  box-sizing: content-box;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%; }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .video-info__third-row {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    box-sizing: content-box;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 50%; } }

@media screen and (min-width: 1200px) {
  .video-info__third-row {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    box-sizing: content-box;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 50%; } }

.video-info__channel {
  font-weight: 300;
  color: #323232; }

.video-info__timestamp {
  font-weight: 100;
  color: #AFAFAF; }

.video-info__channel, .video-info__timestamp {
  font-size: 0.75rem;
  line-height: 1.25rem;
  margin: 1rem 0.5rem 2rem 0;
  align-self: center; }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .video-info__channel, .video-info__timestamp {
    margin: 1.5rem .5rem 1.5rem 0; } }

@media screen and (min-width: 1200px) {
  .video-info__channel, .video-info__timestamp {
    margin: 1.5rem .5rem 1.5rem 0; } }

.video-info__icon {
  margin: 0 .5rem 1.5rem 0; }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .video-info__icon {
    margin: 0 .5rem 0 0; } }

@media screen and (min-width: 1200px) {
  .video-info__icon {
    margin: 0 .5rem 0 0; } }

.video-info__count {
  font-weight: 100;
  color: #323232;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin: 0 2rem 1.5rem 0; }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .video-info__count {
    margin: 0 1.5rem 0 0;
    align-self: center; } }

@media screen and (min-width: 1200px) {
  .video-info__count {
    margin: 0 1.5rem 0 0;
    align-self: center; } }

.video-info__desc {
  font-weight: 100;
  color: #323232;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin: 0;
  padding: 1.5rem 0 0 0;
  border-top: 1px solid #E1E1E1;
  width: 100%; }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .video-info__desc {
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin: 0; } }

@media screen and (min-width: 1200px) {
  .video-info__desc {
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin: 0;
    padding-right: 10rem; } }
